@tailwind base;
@tailwind components;

#tiers thead tr:last-child th, #tiers tbody tr td {
  @apply border-b;
}

#tiers thead tr:last-child th.pad, #tiers tbody tr td.pad {
  @apply border-b-0;
}

#tiers td {
  @apply text-center px-4 py-3;
}

#tiers td .check {
  @apply h-8 w-8 mx-auto stroke-current fill-current text-green-600;
}

#tiers td.title {
  @apply text-left;
}

#tiers td {
  @apply text-lg;
}

#tiers .pad {
  @apply w-10;
}

.non-ios .parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.non-ios .foreground, .non-ios .background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.non-ios .background {
  transform: translateZ(-1px) scale(2);
  margin-left: -10px;
}

.non-ios .foreground {
  @apply mt-64;
  transform: translateZ(0);
}

#header {
  @apply -mt-56;
}
.non-ios #header {
  @apply mt-0;
}

@screen sm {
  .non-ios .foreground {
    @apply mt-128;
  }

  #header {
    @apply -mt-32;
  }

  .non-ios #header {
    @apply mt-0;
  }
}

@tailwind utilities;